body {
    margin: 0;
    padding: 0;
    width: 950px;
}

#title {
    text-align: center;
}

#calculator {
    text-align: center;
    width: 950px;
}

select {
    height: 25px;
}

#submitButton {
    margin-top: 10px;
}

#listWrap {
    margin: 0px auto;
    margin-top: 25px;
    width: 300px;
    text-align: center;
    height: 150px;
}

#listTitles {
    display:inline;
    float:left;
    width:320px;
    text-align: right;
    margin-top: 25px;
    height: 150px;
}

#listTitles p {
    margin:0;
    line-height: 1.6;
    font-weight: 600;
}

.noteList {
    padding: 0;
    margin: 0;
    height: 25px;
    text-align: center;
}

.noteList div {
    display: inline-block;
    line-height: 1.5;
    width: 42px;
    box-sizing: border-box;
}

.steps {
    font-size: .9em;
}

.rootNotes {
    font-weight: 600;
}

.chordTones:first-child {
    border-left: 1px solid grey;
}

.chordTones {
    border-top: 1px solid grey;
    border-right: 1px solid grey;
}

#fifths .chordTones {
    border-bottom: 1px solid grey;
}

.chords {
    font-size: .6em;
}